<h1>Project Aurora</h1>
<section>
  <p>
  Project Aurora is a service that will notify you via SMS when conditions are optimal for
  viewing the <%= link_to 'Northern Lights', 'http://en.wikipedia.org/wiki/Aurora_(astronomy)' %>
  in your area.
  </p>
</section>

<h2>Sign Up</h2>
<section id="signup_form">
  <%= render :partial => 'signup_form' %>
</section>

<h2>About</h2>
<section>
  <p>Created by <%= link_to 'John Wood', 'http://johnpwood.net' %></p>
</section>

<h2>How does it work?</h2>
<section>
  <p>Describe how the service works.</p>
</section>

<h2>FAQ</h2>
<section>
  <div>
    <p>What are the costs associated with this service?</p>
    <p>
       This service is free to use.  However, it uses SMS (text messaging) to notify you of
       certain events.  Your cell phone provider may charge you for incoming SMS messages.
    </p>
  </div>

  <div>
    <p>Will this service wake me up in the middle of the night?</p>
    <p>
    Yes, and that's the point!  The best time for viewing Auroras are in the hours past
    midnight.
    </p>
  </div>
</section>

