/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "globals.scss";

$content-width: 800px;

a:hover {
  text-decoration: none;
}

body {
  background: url(aurora.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

header {
  width: $content-width;
  margin: auto;
  color: $white;

  a:link { color: $white; text-decoration: none; }
  a:visited { color: $white; }
  a:hover { color: $white; text-decoration: none; }
}

#title {
  float: left;
  font-size: 38px;
  color: $white;
}

nav {
  margin-top: 35px;
  float: right;
  color: $white;

  a {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  a:link { color: $white; text-decoration: none; }
  a:visited { color: $white; }
  a:hover { text-decoration: underline; }
}

#main_content {
  width: $content-width;
  margin: auto;
  padding: 15px;
  clear: both;
}

section#description_and_signup {
  color: $white;
  height: 135px;
  font-size: 17px;

  a:link, a:visited {
    color: $white;
  }
}

#description {
  width: 47%;
  float: left;
}

#signup {
  width: 47%;
  float: right;
}

section#details {
  margin: 0px auto;
  padding: 15px;
  background: $white;
  color: $black;
  @include round;
  clear: both;

  a:link, a:visited {
    color: #036656;
  }

  h2 {
    color: #134B4C;
    margin-top: 30px;
  }
}

footer {
  text-align: center;
  font-size: 10px;
  color: $white;

  a:link { color: $white; }
  a:visited { color: $white; }
}

#errorExplanation {
  margin-bottom: 15px;
  padding: 0px 15px;
  border: 1px solid #EED3E7;
  background: #F2DEDE;
  color: #B94B45;
  font-size: 13px;
  @include round;

  h3 {
    font-size: 15px;
  }
}

#signup_message {
  display: none;
}

label {
  font-weight: bold;
}

td {
  padding: 0px 15px 10px 0px;
}

p, li {
  line-height: 1.4em;
}

.question {
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
}

#loading {
  background: $white;
  padding: 3px;
}

#us_only {
  display: block;
  margin-top: 15px;
  font-size: 13px;
}

#coming_soon {
  position: relative;
  top: 25px;
  left: 130px;
  font-size: 20px;
  font-weight: bold;
}

#powered_by {
  margin: auto;
  width: $content-width;

  h1 {
    font-size: 23px;
  }

  table {
    margin-left: auto;
    margin-right: auto;

    td {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
