<!DOCTYPE html>
<html>
<head>
  <title>AuroraAlarm Test</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <div style="color: red;"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>

</body>
</html>
